@page "/user/movies"
@using Cinecritic.Web.Components.Account.Shared
<PageTitle>Movies</PageTitle>
<StatusMessage Message="@statusMessage"></StatusMessage>
<h3>Movies</h3>
<div class="table-bordered">
	@for (int i = 0; i < _movies.Movies.Count; i += 4)
	{
		<div class="row">
			@for (int j = 0; j < ColumnCount && i + j < _movies.Movies.Count; j++)
			{
				var index = i + j;
				<NavLink class="col-3 mx-auto d-flex flex-column justify-content-between align-items-center" href="@($"/user/movie/{Uri.EscapeDataString(_movies.Movies[index].Id.ToString())}-{Uri.EscapeDataString(_movies.Movies[index].Title)}")">
					<img class="rounded-3 my-auto" src="@_movies.Movies[index].ImagePath" width="200" />
					<div class="d-flex flex-column pt-2">
						<h4>@($"{_movies.Movies[index].Title}")</h4>
						@if (_movies.Movies[index].ReleaseDate != null)
						{
							<h4>@($"({_movies.Movies[index].ReleaseDate})")</h4>
						}
					</div>
				</NavLink>
			}
		</div>
	}

	<nav class="py-3">
		<ul class="pagination justify-content-center">
			@if (CurrentPage > 1)
			{
				<li class="page-item">
					<NavLink class="page-link" href=@($"/user/movies?page={CurrentPage - 1}")>Previous</NavLink>
				</li>
			}
			@if (_movies.TotalPageNumber <= PagePaginatorCount + PaginatorAdditionalCount)
			{
				@for (int i = 1; i <= _movies.TotalPageNumber; i++)
				{
					int index = i;
					<li class="page-item">
						<NavLink class="page-link" href=@($"/user/movies?page={index}")>@index</NavLink>
					</li>
				}
			}
			else if (CurrentPage <= PagePaginatorCount)
			{
				@for (int i = 1; i <= PagePaginatorCount + PaginatorAdditionalCount - PaginatorAdditionalCount / 2; i++)
				{
					int index = i;
					<li class="page-item">
						<NavLink class="page-link" href=@($"/user/movies?page={index}")>@index</NavLink>
					</li>
				}
				<li class="page-item">
					<span class="page-link">...</span>
				</li>
				<li class="page-item">
					<NavLink class="page-link" href=@($"/user/movies?page={_movies.TotalPageNumber}")>@(_movies.TotalPageNumber)</NavLink>
				</li>
			}
			else if (CurrentPage + 3 > _movies.TotalPageNumber)
			{
				<li class="page-item">
					<NavLink class="page-link" href=@($"/user/movies?page=1")>1</NavLink>
				</li>
				<li class="page-item">
					<span class="page-link">...</span>
				</li>
				@for (int i = _movies.TotalPageNumber - PagePaginatorCount - 1; i <= _movies.TotalPageNumber; i++)
				{
					int index = i;
					<li class="page-item">
						<NavLink class="page-link" href=@($"/user/movies?page={index}")>@index</NavLink>
					</li>
				}
			}
			else
			{
				<li class="page-item">
					<NavLink class="page-link" href=@($"/user/movies?page=1")>1</NavLink>
				</li>
				<li class="page-item">
					<span class="page-link">...</span>
				</li>
				@for (int i = CurrentPage - PagePaginatorCount + PaginatorAdditionalCount - PaginatorAdditionalCount / 2; i <= CurrentPage + PagePaginatorCount / 2; i++)
				{
					int index = i;
					<li class="page-item">
						<NavLink class="page-link" href=@($"/user/movies?page={index}")>@index</NavLink>
					</li>
				}
				<li class="page-item">
					<span class="page-link">...</span>
				</li>
				<li class="page-item">
					<NavLink class="page-link" href=@($"/user/movies?page={_movies.TotalPageNumber}")>@(_movies.TotalPageNumber)</NavLink>
				</li>
			}




			@if (_movies.TotalPageNumber != CurrentPage)
			{
				<li class="page-item">
					<NavLink class="page-link" href=@($"/user/movies?page={CurrentPage + 1}")>Next</NavLink>
				</li>
			}
		</ul>
	</nav>
</div>